.body {
  background-image: linear-gradient(270deg, #8b1199, #2d74b3);
}

.content {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 140px;
  display: flex;
}

.upper-text {
  width: 80vw;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.p {
  color: #fff;
  text-align: center;
  font-family: Generalsans, sans-serif;
  font-size: 20px;
}

.heading {
  color: #fff;
  text-align: center;
  font-family: Generalsans, sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 110%;
}

.buttons {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 44px;
  display: flex;
}

.link {
  color: #fff;
  text-align: center;
  font-family: Generalsans, sans-serif;
  font-size: 24px;
}

.link:hover, .link:active {
  color: #fff;
}

.link-block {
  margin-bottom: 0;
}

.link-block-2 {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 40px;
  }
}

@media screen and (max-width: 479px) {
  .content {
    padding-bottom: 200px;
  }

  .p {
    font-size: 18px;
  }

  .heading {
    font-size: 30px;
  }

  .link {
    font-size: 18px;
  }
}


@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-ExtralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}